{% extends 'base.html' %}

{% block title %} Sistema de Predicción de Ventas {% endblock %}

{% block second_style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Predicción de ventas y planes de fabricación</h1>
        <p>Haz clic para analizar las ventas desde la base de datos y generar un plan de producción.</p>
        <a href="{{ url_for('ai_api.config') }}" class="btn">Generar predicciones</a>
    </div>
{% endblock %}