<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ERP Inteligente{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    
    {% block second_style %} {% endblock %}
</head>
<body>
  <header>
    <h1>ERP Inteligente para Fábricas</h1>
    <p>Automatización y análisis avanzado para mejorar tu producción</p>

    <!-- Menú flotante (oculto hasta que el usuario inicie sesión) -->
    <nav id="navbar">
      <ul id="nav-list">
          <li><a href="{{ url_for('main.index') }}" class="nav-button">Inicio</a></li>
          <li>
              <a href="#" class="nav-button" id="product-menu">Producto</a>
              <ul class="submenu" id="product-submenu">
                  <li><a href="{{ url_for('main.config_parameters', section='inventory') }}" class="nav-button product-link">Materia prima</a></li>
                  <li><a href="{{ url_for('main.config_parameters', section='store') }}" class="nav-button product-link">Producto terminado</a></li>
                  <li><a href="{{ url_for('main.config_parameters', section='production') }}" class="nav-button product-link">Plan de producción</a></li>
                  <li><a href="{{ url_for('main.config_parameters', section='orders') }}" class="nav-button product-link">Órdenes de compra</a></li>
              </ul>
          </li>
          <li><a href="{{ url_for('stats_api.dashboard') }}" class="nav-button" id="statistics-link">Estadísticas</a></li>
          <li><a href="{{ url_for('main.config') }}" class="nav-button" id="config-link">Configuración</a></li>
      </ul>
    </nav>
  </header>
    <main>
      {% block content %}{% endblock %}
    </main>
    <footer>
      <p>ERP Inteligente - Soluciones avanzadas para la industria. &copy; 2024</p>
    </footer>
</body>
</html>