<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calidad - ERP</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/calidad.css')}}">
</head>

<body>

  <header>
    <h1>ERP Inteligente para Fábricas</h1>
    <p>Automatización y análisis avanzado para mejorar tu producción</p>
  </header>

  <!-- Menú flotante -->
  <nav id="navbar">
    <div class="menu-icon" id="menu-icon">
      <span>&#9776;</span>
    </div>
    <ul id="nav-list">
      <li><a href="{{ url_for('main.index') }}" class="nav-button">Inicio</a></li>
      <li><a href="{{ url_for('main.calidad') }}" class="nav-button">Calidad</a></li>
      <li><a href="#rendimiento" class="nav-button">Rendimiento</a></li>
      <li><a href="#ia" class="nav-button">IA</a></li>
    </ul>
    <a href="#" class="acount-button" id="acount-btn">Mi cuenta</a>
  </nav>

  <main>
    <div class="container">
      <h1 id="quality-status" class="status-text">Bueno</h1> <!-- Cambia entre "Bueno" y "Malo" -->
      <div class="video-container">
        <video id="video" autoplay></video> <!-- Video en tiempo real -->
      </div>
      <button id="register-defect">Registrar defecto</button>
    </div>
  </main>

  <footer>
    <p>ERP Inteligente - Soluciones avanzadas para la industria. &copy; 2024</p>
  </footer>

  <script src="{{ url_for('static', filename='js/calidad.js')}}"></script>
</body>

</html>