{% extends 'base.html' %}

{% block title %}Configuración{% endblock %}

{% block second_style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/config.css') }}">
{% endblock %}

{% block content %}
<section class="group" id="materia-prima">
  <h2>Materia Prima</h2>
  <div class="card-container">
    <div class="card">
      <a href="{{ url_for('main.config_parameters', section='categories_resources') }}">
        <h3>Categorías de Recursos</h3>
      </a>
    </div>
    <div class="card">
      <a href="{{ url_for('main.config_parameters', section='catalogue_resources') }}">
        <h3>Catálogo de Recursos</h3>
      </a>
    </div>
    <div class="card">
      <a href="{{ url_for('main.config_parameters', section='supplier') }}">
        <h3>Proveedores</h3>
      </a>
    </div>
    <div class="card">
      <a href="{{ url_for('main.config_parameters', section='inventory') }}">
        <h3>Materia Prima</h3>
      </a>
    </div>
  </div>
</section>

<section class="group" id="productos">
  <h2>Productos</h2>
  <div class="card-container">
    <div class="card">
      <a href="{{ url_for('main.config_parameters', section='categories_products') }}">
        <h3>Categorías de Productos</h3>
      </a>
    </div>
    <div class="card">
      <a href="{{ url_for('main.config_parameters', section='catalogue_products') }}">
        <h3>Catálogo de Productos</h3>
      </a>
    </div>
    <div class="card">
      <a href="{{ url_for('main.config_parameters', section='production') }}">
        <h3>Producto Terminado</h3>
      </a>
    </div>
  </div>
</section>

<section class="group" id="produccion">
  <h2>Producción</h2>
  <div class="card-container">
    <div class="card">
      <a href="{{ url_for('main.config_parameters', section='factories') }}">
        <h3>Fábricas</h3>
      </a>
    </div>
    <div class="card">
      <a href="{{ url_for('main.config_parameters', section='equipment') }}">
        <h3>Equipo/Maquinaria</h3>
      </a>
    </div>
    <div class="card">
      <a href="{{ url_for('main.config_parameters', section='production') }}">
        <h3>Producto en Proceso</h3>
      </a>
    </div>
  </div>
</section>

<section class="group" id="mrp">
  <h2>Gestión de MRP</h2>
  <div class="card-container">
    <div class="card">
      <a href="{{ url_for('main.config_parameters', section='mrp') }}">
        <h3>Estructura de Productos (BOM)</h3>
      </a>
    </div>
    <div class="card">
      <a href="{{ url_for('main.config_parameters', section='mrp') }}">
        <h3>Plan de Producción</h3>
      </a>
    </div>
  </div>
</section>

<section class="group" id="system">
  <h2>Sistema</h2>
  <div class="card-container">
    <div class="card">
      <a href="#">
        <h3>Reentrenar IA de planeación de procesos</h3>
      </a>
    </div>
    <div class="card">
      <a href="#">
        <h3>Conexión a base de datos de ventas</h3>
      </a>
    </div>
  </div>
  <div class="card">
    <a href="{{ url_for('main.config_parameters', section='production') }}">
      <h3>Producto en Proceso</h3>
    </a>
  </div>
  </div>
</section>

<section class="group" id="mrp">
  <h2>Gestión de MRP</h2>
  <div class="card-container">
    <div class="card">
      <a href="{{ url_for('main.config_parameters', section='mrp') }}">
        <h3>Estructura de Productos (BOM)</h3>
      </a>
    </div>
    <div class="card">
      <a href="{{ url_for('main.config_parameters', section='mrp') }}">
        <h3>Plan de Producción</h3>
      </a>
    </div>
  </div>

  <div class="card">
    <a href="{{ url_for('main.config_parameters', section='orders') }}">
      <h3>Órdenes de Fabricación</h3>
    </a>
  </div>
  
</section>
</section>
{% endblock %}
