{% extends 'base.html' %}

{% block title %}Materia Prima{% endblock %}

{% block second_style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/config.css') }}">
{% endblock %}

{% block content %}
<section class="group" id="inventario">
  <h2>Inventario de Materia Prima</h2>
  <div class="card-container">
    <div class="card">
      <a href="{{ url_for('main.config_parameters', section='inventory') }}">
        <h3>Inventario Actual</h3>
      </a>
    </div>
    <div class="card">
      <a href="{{ url_for('main.config_parameters', section='supplier') }}">
        <h3>Proveedores</h3>
      </a>
    </div>
    <div class="card">
      <a href="{{ url_for('main.config_parameters', section='categories_resources') }}">
        <h3>Categorías de Recursos</h3>
      </a>
    </div>
  </div>
</section>

<section class="group" id="entradas-salidas">
  <h2>Entradas y Salidas</h2>
  <div class="card-container">
    <div class="card">
      <a href="#">
        <h3>Registrar Entrada</h3>
      </a>
    </div>
    <div class="card">
      <a href="#">
        <h3>Registrar Salida</h3>
      </a>
    </div>
  </div>
</section>

<section class="group" id="reportes">
  <h2>Reportes</h2>
  <div class="card-container">
    <div class="card">
      <a href="#">
        <h3>Reporte de Inventario</h3>
      </a>
    </div>
    <div class="card">
      <a href="#">
        <h3>Reporte de Consumo</h3>
      </a>
    </div>
  </div>
</section>
{% endblock %}