{% extends 'base.html' %}

{% block title %}Productos Terminados{% endblock %}

{% block second_style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/producto_terminado.css') }}">
{% endblock %}

{% block content %}
<div class="container">
  <button id="add-producto-btn">Agregar Producto</button>
  <div class="content">
    <table id="productos-table">
      <thead>
        <tr>
          <th>No. Producto</th>
          <th>Nombre</th>
          <th>Tipo</th>
          <th>Cantidad</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <!-- Productos se agregarán dinámicamente aquí -->
      </tbody>
    </table>
  </div>
</div>

<script src="{{ url_for('static', filename='js/producto_terminado.js') }}"></script>
{% endblock %}