{% extends 'base.html' %}

{% block title %}{{ title_section }}{% endblock %}

{% block second_style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/config-parameters.css') }}">
{% endblock %}

{% block content %}
<section class="hero">
    <h2>{{ title_section }}</h2>
    <p>Gestiona y ajusta con la información adecuada para tu empresa.</p>
</section>
<section class="content">
    <h3>Subir Documento</h3>
    <div class="button-group">
        <form id="csv-upload-form" action="{{ url_for('main.upload_csv', table_name=table) }}" method="POST" enctype="multipart/form-data">
            <input type="file" name="csv_file" accept=".csv" required>
            <button type="button" class="button" onclick="confirmUpload()">Subir CSV</button>
        </form>
    </div>
</section>

<script src="{{ url_for('static', filename='js/sales.js') }}"></script>
{% endblock %}